In [132]:
import pandas as pd
from model import DecisionTree,TokenizerGen,Logistic

In [41]:
!python3.9 -m pip install sklearn

Collecting sklearn
  Using cached sklearn-0.0.post1-py3-none-any.whl
Installing collected packages: sklearn
Successfully installed sklearn-0.0.post1

In [32]:
data =pd.read_csv('data.csv',nrows=1000)

In [107]:
data =pd.read_csv('data.csv',nrows=1000)
ins = data.drop(columns=['id','Action'])
outs = data['Action']

In [31]:
data

      id    Card 1    Card 2    Card 3    Card 4     Played             Action
0      0  circle 1  circle 2  circle 3  circle 4   circle 1           circle 1
1      1  circle 1  circle 2  circle 3  circle 4   circle 2           circle 1
2      2  circle 1  circle 2  circle 3  circle 4   circle 3           circle 1
3      3  circle 1  circle 2  circle 3  circle 4   circle 4           circle 1
4      4  circle 1  circle 2  circle 3  circle 4   circle 5           circle 1
..   ...       ...       ...       ...       ...        ...                ...
995  995  circle 1  circle 2  circle 3  circle 4  sqaure 14  g o   m a r k e t
996  996  circle 1  circle 2  circle 3  circle 4     star 1           circle 1
997  997  circle 1  circle 2  circle 3  circle 4     star 2           circle 2
998  998  circle 1  circle 2  circle 3  circle 4     star 3           circle 3
999  999  circle 1  circle 2  circle 3  circle 4     star 4  g o   m a r k e t

[1000 rows x 7 columns]

In [45]:
outs
# from sklearn.pipeline import Pipeline
# from sklearn.feature_extraction.text import TfidfVectorizer
# pipeline = Pipeline(
#     [
#     TfidfVectorizer(),
#     DecisionTree()
#     ]
# )

tokenizer = TokenizerGen()
tokenizer.fit(ins)
tokenizer.transform(ins)

[[4, 1], [4, 1], [4, 1], [4, 1], [1]]

In [116]:
arrs = [__ for _ in ins.values for __ in _]

tokens  = {_:i for i,_ in enumerate(set(arrs)) }
outtokens =  {_:i for i,_ in enumerate(set([_ for _ in list(outs.values)])) }

In [92]:
insdata = []
for i in ins.values:
    insdata.append([tokens[_] for _ in i])

In [93]:
newdf = pd.DataFrame(data=insdata,columns=ins.columns)
newdf

     Card 1  Card 2  Card 3  Card 4  Played
0        49      26      35      22      49
1        49      26      35      22      26
2        49      26      35      22      35
3        49      26      35      22      22
4        49      26      35      22      46
..      ...     ...     ...     ...     ...
995      49      26      35      22      47
996      49      26      35      22      41
997      49      26      35      22      43
998      49      26      35      22      32
999      49      26      35      22      19

[1000 rows x 5 columns]

In [94]:
ins

       Card 1    Card 2    Card 3    Card 4     Played
0    circle 1  circle 2  circle 3  circle 4   circle 1
1    circle 1  circle 2  circle 3  circle 4   circle 2
2    circle 1  circle 2  circle 3  circle 4   circle 3
3    circle 1  circle 2  circle 3  circle 4   circle 4
4    circle 1  circle 2  circle 3  circle 4   circle 5
..        ...       ...       ...       ...        ...
995  circle 1  circle 2  circle 3  circle 4  sqaure 14
996  circle 1  circle 2  circle 3  circle 4     star 1
997  circle 1  circle 2  circle 3  circle 4     star 2
998  circle 1  circle 2  circle 3  circle 4     star 3
999  circle 1  circle 2  circle 3  circle 4     star 4

[1000 rows x 5 columns]

In [133]:
model = Logistic()
model.fit(newdf,[outtokens[_] for _ in outs.values])

In [134]:
model.predict([[49,	26,	35,	22,49]])

[1.0]

In [122]:
def searchdict(d,v):
    for i in d.keys():
        if d[i]==v:
            return i

In [124]:
searchdict(outtokens,1)

'triangle 3'

In [129]:
[outtokens[_] for _ in outs.values]

[21,
 21,
 21,
 21,
 21,
 21,
 18,
 21,
 21,
 21,
 21,
 3,
 21,
 13,
 16,
 11,
 3,
 3,
 18,
 3,
 3,
 3,
 3,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 3,
 3,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 3,
 3,
 3,
 21,
 13,
 16,
 11,
 3,
 3,
 18,
 3,
 3,
 3,
 3,
 21,
 21,
 21,
 21,
 21,
 21,
 18,
 21,
 21,
 21,
 21,
 3,
 21,
 13,
 16,
 3,
 19,
 3,
 18,
 3,
 3,
 3,
 3,
 3,
 21,
 13,
 16,
 19,
 3,
 3,
 3,
 3,
 3,
 21,
 13,
 16,
 19,
 3,
 3,
 3,
 3,
 3,
 21,
 13,
 16,
 3,
 19,
 3,
 18,
 3,
 3,
 3,
 3,
 21,
 21,
 21,
 21,
 21,
 21,
 18,
 21,
 21,
 21,
 21,
 3,
 21,
 13,
 16,
 3,
 3,
 4,
 18,
 3,
 3,
 3,
 3,
 3,
 21,
 13,
 16,
 3,
 4,
 3,
 3,
 3,
 3,
 21,
 13,
 16,
 3,
 4,
 3,
 3,
 3,
 3,
 21,
 13,
 16,
 3,
 3,
 4,
 18,
 3,
 3,
 3,
 3,
 21,
 21,
 21,
 21,
 21,
 21,
 18,
 21,
 21,
 21,
 21,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 18,
 3,
 3,
 3,
 3,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 3,
 3,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 3,
 3,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 18,
 3,
 3,
 3,
 3,
 21,
 21,
 21,
 21,
 21,
 21,
 18,
 21,
 21,
 21,
 21,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 18,
 8,
 3,
 3,
 3,
 3,
 21,
 13,
 16,
 3,
 3,
 8,
 3,
 3,
 3,
 21,
 13,
 16,
 3,
 3,
 8,
 3,
 3,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 18,
 3,
 3,
 3,
 3,
 21,
 21,
 21,
 21,
 21,
 21,
 18,
 21,
 21,
 21,
 21,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 18,
 3,
 9,
 3,
 3,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 9,
 3,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 9,
 3,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 18,
 3,
 3,
 3,
 3,
 21,
 21,
 21,
 21,
 21,
 21,
 18,
 21,
 21,
 21,
 21,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 18,
 3,
 3,
 7,
 3,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 3,
 3,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 3,
 3,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 18,
 3,
 3,
 3,
 3,
 21,
 21,
 21,
 21,
 21,
 21,
 18,
 21,
 21,
 21,
 21,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 18,
 3,
 3,
 3,
 17,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 3,
 17,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 3,
 17,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 18,
 3,
 3,
 3,
 3,
 21,
 21,
 21,
 21,
 21,
 21,
 18,
 21,
 21,
 21,
 21,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 18,
 3,
 3,
 3,
 3,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 3,
 3,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 3,
 3,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 18,
 3,
 3,
 3,
 3,
 21,
 21,
 21,
 21,
 21,
 21,
 18,
 21,
 21,
 21,
 21,
 3,
 21,
 13,
 16,
 12,
 12,
 12,
 18,
 12,
 12,
 12,
 12,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 3,
 3,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 3,
 3,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 18,
 3,
 3,
 3,
 3,
 21,
 21,
 21,
 21,
 21,
 21,
 18,
 21,
 21,
 21,
 21,
 3,
 21,
 13,
 16,
 5,
 5,
 5,
 18,
 5,
 5,
 5,
 5,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 3,
 3,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 3,
 3,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 18,
 3,
 3,
 3,
 3,
 21,
 21,
 21,
 21,
 21,
 21,
 18,
 21,
 21,
 21,
 21,
 3,
 21,
 13,
 16,
 1,
 1,
 1,
 18,
 1,
 1,
 1,
 1,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 3,
 3,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 3,
 3,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 18,
 3,
 3,
 3,
 3,
 21,
 21,
 21,
 21,
 21,
 21,
 18,
 21,
 21,
 21,
 21,
 3,
 21,
 13,
 16,
 6,
 6,
 6,
 18,
 6,
 6,
 6,
 6,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 3,
 3,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 3,
 3,
 3,
 21,
 13,
 16,
 6,
 3,
 3,
 18,
 3,
 3,
 3,
 3,
 21,
 21,
 21,
 21,
 21,
 21,
 18,
 21,
 21,
 21,
 21,
 3,
 21,
 13,
 16,
 14,
 14,
 14,
 18,
 14,
 14,
 14,
 14,
 3,
 21,
 13,
 16,
 14,
 3,
 3,
 3,
 3,
 3,
 21,
 13,
 16,
 14,
 3,
 3,
 3,
 3,
 3,
 21,
 13,
 16,
 3,
 14,
 3,
 18,
 3,
 3,
 3,
 3,
 21,
 21,
 21,
 21,
 21,
 21,
 18,
 21,
 21,
 21,
 21,
 3,
 21,
 13,
 16,
 10,
 10,
 10,
 18,
 10,
 10,
 10,
 10,
 3,
 21,
 13,
 16,
 3,
 10,
 3,
 3,
 3,
 3,
 21,
 13,
 16,
 3,
 10,
 3,
 3,
 3,
 3,
 21,
 13,
 16,
 3,
 3,
 10,
 18,
 3,
 3,
 3,
 3,
 21,
 21,
 21,
 21,
 21,
 21,
 18,
 21,
 21,
 21,
 21,
 3,
 21,
 13,
 16,
 20,
 20,
 20,
 18,
 20,
 20,
 20,
 20,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 3,
 3,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 3,
 3,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 18,
 3,
 3,
 3,
 3,
 21,
 21,
 21,
 21,
 21,
 21,
 18,
 21,
 21,
 21,
 21,
 3,
 21,
 13,
 16,
 0,
 0,
 0,
 18,
 0,
 0,
 0,
 0,
 3,
 21,
 13,
 16,
 3,
 3,
 0,
 3,
 3,
 3,
 21,
 13,
 16,
 3,
 3,
 0,
 3,
 3,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 18,
 3,
 3,
 3,
 3,
 21,
 21,
 21,
 21,
 21,
 21,
 18,
 21,
 21,
 21,
 21,
 3,
 21,
 13,
 16,
 2,
 2,
 2,
 18,
 2,
 2,
 2,
 2,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 2,
 3,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 2,
 3,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 18,
 3,
 3,
 3,
 3,
 21,
 21,
 21,
 21,
 21,
 21,
 18,
 21,
 21,
 21,
 21,
 3,
 21,
 13,
 16,
 15,
 15,
 15,
 18,
 15,
 15,
 15,
 15,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 3,
 3,
 3,
 21,
 13,
 16,
 3,
 3,
 3,
 3,
 3,
 3,
 21,
 13,
 16,
 3]