In [24]:
import pandas as pd
from model import DecisionTree,TokenizerGen

In [41]:
!python3.9 -m pip install sklearn

Collecting sklearn
  Using cached sklearn-0.0.post1-py3-none-any.whl
Installing collected packages: sklearn
Successfully installed sklearn-0.0.post1

In [32]:
data =pd.read_csv('data.csv',nrows=1000)

In [33]:
ins = data.drop(columns=['id','Action'])
outs = data['Action']

In [31]:
data

      id    Card 1    Card 2    Card 3    Card 4     Played             Action
0      0  circle 1  circle 2  circle 3  circle 4   circle 1           circle 1
1      1  circle 1  circle 2  circle 3  circle 4   circle 2           circle 1
2      2  circle 1  circle 2  circle 3  circle 4   circle 3           circle 1
3      3  circle 1  circle 2  circle 3  circle 4   circle 4           circle 1
4      4  circle 1  circle 2  circle 3  circle 4   circle 5           circle 1
..   ...       ...       ...       ...       ...        ...                ...
995  995  circle 1  circle 2  circle 3  circle 4  sqaure 14  g o   m a r k e t
996  996  circle 1  circle 2  circle 3  circle 4     star 1           circle 1
997  997  circle 1  circle 2  circle 3  circle 4     star 2           circle 2
998  998  circle 1  circle 2  circle 3  circle 4     star 3           circle 3
999  999  circle 1  circle 2  circle 3  circle 4     star 4  g o   m a r k e t

[1000 rows x 7 columns]

In [42]:
outs
# from sklearn.pipeline import Pipeline
# from sklearn.feature_extraction.text import TfidfVectorizer
# pipeline = Pipeline(
#     [
#     TfidfVectorizer(),
#     DecisionTree()
#     ]
# )

# tokenizer = TokenizerGen()
# tokenizer.transform(ins)

ModuleNotFoundError: No module named 'sklearn'